@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

body{
background-image: url(https://wallpaperbrowse.com/media/images/cool-background.jpg);
}

h1 {
text-align: center;
font-family: 'Indie Flower';
font-size: 100px;
padding-bottom: 10px;
color: white;
}

.customnav {
 background-color: slategrey;
 font-size: 25px;
 font-family: 'Indie Flower';
 margin-bottom: 50px;
    padding: 25px;
}

a:link, a:visited {
text-decoration: none;
padding: 20px;
color: aqua;
}

a:hover {
color: black;
background-color: white;
}

h2 {
padding-left: 10px;
}

.sectioncontainer {
 padding: 60px;
 width: 90%;
 background-color: rgba(66, 234, 244, .8);
 margin-top: 25px;
 margin-bottom: 25px;
 text-align: center;
 margin-left: auto;
 margin-right: auto;
 border-radius: 25px;
}

p {
padding-top: 20px;
}



#photocarousel {
 width: 400px;
 max-height: 400px;
 margin-left: auto;
 margin-right: auto;
 text-align: center;
}

.container {
 display: flex;   
}

.column: {
    flex: 1;
}

#descriptioncol {
 padding-left: 50px;   
}



